<%= react_component("HelloWorld", { data: @data}) %>
<table class="min-w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
  <tr>
    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Title</th>
    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Time</th>
    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Completed</th>
    <th scope="col" class="relative px-6 py-3">Edit</th>
    <th scope="col" class="relative px-6 py-3">Delete</th>
  </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
  -->
</table>